.mission-section {
  height: 500px;
  background: url("/img/bkgd-mission.jpg") center/cover;
}

.mission-section-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    width: 25%;
    height: 75%;
    border-radius: 20px;
    filter: drop-shadow(1px 1px 10px black);
    background: url("/img/mission-pic.jpg") center/cover;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    z-index: 3;
  }
  & .container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 57%;
    height: 100%;
    margin: 0 40px;
    padding-left: 40px;
    & h2 {
      text-align: left;
      font-size: 2rem;
      letter-spacing: 1px;
      padding: 20px 0;
    }
    & p {
      text-align: left;
      max-width: 50%;
      font-size: 1.2rem;
      font-weight: 550;
      letter-spacing: 1px;
      line-height: 30px;
    }
  }
  & .container-picture {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 57%;
    height: 100%;
    background: url("/img/bkgd-mission-right.jpg") center/cover;
    & p {
      transform: rotate(180deg);
      letter-spacing: 2px;
      font-size: 1rem;
      font-family: sans-serif;
      margin: 0 10px;
      writing-mode: vertical-rl;
      color: white;
    }
  }
  & .container-textVer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 6%;
    height: 100%;
  }
}
