.mission-section {
  height: 800px;
  width: 100%;
  background: url("/img/bkgd-mission.webp") center/cover;
  @include tablette {
    height: auto;
  }
}

.mission-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 98%;
  @include tablette {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: 70rem;
  }
  & .container-text {
    min-width: 45rem;
    max-width: 45rem;
    height: 30rem;
    transform: translateX(-5rem);
    background: $color5;
    border-radius: 0.8rem;
    @include tablette {
      margin: 0 auto 50px auto;
      transform: translateY(-5rem);
      min-width: 20rem;
      max-width: 20rem;
    }
    & .container-text-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      opacity: 0;
      transform: translateX(-100px);
      transition: 0.8s ease;
      @include tablette {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      & h2 {
        text-transform: uppercase;
        text-align: center;
        margin: 25px 0;
        font-size: 1.8rem;
        @include tablette {
          font-size: 1.2rem;
          margin-top: 150px;
          margin-bottom: 10px;
        }
      }
      & p {
        width: 350px;
        height: 500px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 45px;
        margin-top: 15px;
        color: white;
        @include tablette {
          max-width: fit-content;
          margin: 20px 15px 0 15px;
          font-size: 0.8rem;
          line-height: 28px;
          font-weight: 500;
        }
      }
      & a {
        cursor: pointer;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        height: auto;
        color: $color1;
        font-family: tanPearl;
        @include tablette {
          margin: 0;
          padding: 40px 0;
        }
      }
    }
  }
  & .container-pic {
    min-width: 25rem;
    max-width: 30rem;
    height: 25rem;
    border-radius: 0.8rem;
    z-index: 2;
    background: url(/img/profilpic.webp) center/cover;
    opacity: 0;
    transition: 1.2s ease-in-out;
    @include tablette {
      min-width: 15rem;
      max-width: 15rem;
      min-height: 10rem;
      max-height: 10rem;
      margin-top: 50px;
    }
  }
}
.vertical-text {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 3%;
  transform: rotate(180deg);
  letter-spacing: 2px;
  font-size: 1rem;
  font-family: tanPearl;
  font-display: swap;
  margin: 0 10px;
  writing-mode: vertical-rl;
  color: black;
  @include tablette {
    display: none;
  }
}

/**** JS anim ****/
