//**** NavBar Desktop ****//

nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 90px;
  background: rgba(128, 128, 128, 0.507);
  animation: navbar 4s ease forwards;
  transition: 1s ease;
  z-index: 50;

  & .nav-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 5%;
    margin: 0 20px;
    transition: 0.5s ease;
    & img {
      width: 60px;
      height: 60px;
    }
  }
  & .nav-navBar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    & ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      & li {
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        font-weight: 600;
        cursor: pointer;
        &:hover {
          transition: 0.7s ease-out;
          color: white;
          text-shadow: 2px 2px 2px grey;
          font-style: italic;
        }
      }
    }
  }
  & .nav-navBar-sociaux {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    & ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      & li img {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }
  }
}

//**** NavBar JavaScript ****//

.navBar-js {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40px;
  background: rgba(122, 21, 21, 0.5);
  & .nav-logo {
    transition: 0.5s ease;
    opacity: 0;
  }
}
