.prestations-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 700px;
  & .prestations-title {
    position: relative;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
      content: "";
      position: absolute;
      width: 20%;
      height: 1px;
      background: grey;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  & .card-container-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 96%;
    height: 100%;
  }
}

.card__all {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  max-height: 800px;
  & .card-massage-visible,
  .card-hollitique-visible,
  .card-cadeau-visible {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    background: url("/img/mission-pic.jpg") center/cover;
    filter: drop-shadow(2px 2px 20px black);
    transition: 1.5s ease-in-out;
    transition-delay: 1s;

    & .card-massage-face,
    .card-hollitique-face,
    .card-cadeau-face {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      & h3 {
        width: 100%;
        height: 20%;
        margin: 70% auto auto auto;
        font-size: 2rem;
        text-align: center;
        color: white;
        text-transform: uppercase;
      }
    }
  }
  & .card-massage-hidden,
  .card-hollitique-hidden,
  .card-cadeau-hidden {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    max-width: 400px;
    height: 400px;
    background: grey;
    border-radius: 100%;
    opacity: 0;
    transition: 1.5s ease-in-out;
    & .card-massage-revel,
    .card-hollitique-revel,
    .card-cadeau-revel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & p {
        height: 80%;
        opacity: 0;
        padding: 25px;
      }
    }
  }
}
.container-textVer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 4%;
  height: 100%;
  & p {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    transform: rotate(180deg);
    letter-spacing: 2px;
    font-size: 1rem;
    font-family: sans-serif;
    margin: 0 10px;
    writing-mode: vertical-rl;
    color: black;
  }
}

/**** JS Evenet Style ****/

.card-massage-visible-anim,
.card-hollitique-visible-anim,
.card-cadeau-visible-anim {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  background: url("/img/mission-pic.jpg") center/cover;
  transition: 1.5s ease-in-out;
  z-index: 1;
  opacity: 0;
  & h3 {
    width: 100%;
    height: 20%;
    margin: 70% auto auto auto;
    font-size: 2rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
    opacity: 0;
  }
}

.card-massage-hidden-anim,
.card-hollitique-hidden-anim,
.card-cadeau-hidden-anim {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 300px;
  background: grey;
  opacity: 1;
  transition: 1.5s ease;
  & .card-massage-revel,
  .card-hollitique-revel,
  .card-cadeau-revel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & p {
      height: 80%;
      width: 80%;
      background: white;
      transition: 2s ease;
      transition-delay: 1.7s;
      opacity: 1;
      text-align: center;
      padding: 25px;
    }
  }
}
