.separateur {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  background: $color4;
  &:before {
    content: "";
    position: absolute;
    top: -30px;
    background: $color4;
    filter: blur(5px);
    width: 101%;
    height: 40px;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -30px;
    background: $color4;
    filter: blur(5px);
    width: 101%;
    height: 40px;
    z-index: 50;
  }
  & .carrousel,
  .carrousel-avis {
    height: 65%;
    width: 70%;
    background: $color1;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.slider div,
.slider-avis div {
  max-width: 100%;
  display: none;
}

div.active,
div.avis-active {
  display: block;
  animation: fade 0.8s ease;
}
