.separateur {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background: url("/img/separateur-bkgd.webp") center/cover fixed;
  @include tablette {
    height: 200px;
  }

  & .carrousel-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color1;
    width: 80%;
    height: 80%;
    border-radius: 25px;
  }
  & .carrousel,
  .carrousel-avis {
    height: 65%;
    width: 70%;
    background: $color5;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 1.3rem;
    @include tablette {
      height: 80%;
      width: 90%;
    }
    & strong {
      color: $color4;
    }
    & span em {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 15px 0;
    }
  }
}

.slider div,
.slider-avis div {
  max-width: 100%;
  display: none;
}

div.active,
div.avis-active {
  display: block;
  animation: fade 0.8s ease;
}
