/**** Font ****/

@font-face {
  font-family: "tanPearl";
  src: url("../font/Tan Pearl/TAN-PEARL.ttf");
}

@font-face {
  font-family: "";
  src: "";
}

/**** Variable Colors ****/

$color1: #e4d2c8;
$color2: #dfc8c3;
$color3: #b48e7f;
$color4: #ab7c72;

/*** KeyFrames ***/

@keyframes headerLoading {
  from {
    opacity: 1;
    z-index: 999;
  }
  to {
    z-index: -1;
    opacity: 0;
  }
}

@keyframes logoBounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
