/**** variables  ****/

$colorblack: black;
$colorwhite: white;
$colorpink: rgba(122, 21, 21, 0.5);

/**** KayFrames ****/

@keyframes blackbkgd {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes navbar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes titleanim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
