/**** Font ****/

@font-face {
  font-family: "";
  src: "";
}

@font-face {
  font-family: "";
  src: "";
}

/**** Variable Colors ****/

$color1: pink;
$color2: pink;
$color3: pink;
$color4: pink;

/*** KeyFrames ***/

@keyframes logoBounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
