/**** Font ****/

@font-face {
  font-family: "tanPearl";
  src: url("../font/Tan Pearl/TAN-PEARL.ttf");
  font-display: swap;
}

@font-face {
  font-family: "";
  src: "";
}

/**** Variable Colors ****/

$color1: #e4d2c8;
$color2: #dfc8c3;
$color3: #b48e7f;
$color4: #ab7c72;
$color5: #bc7d6f;

/*** KeyFrames ***/

@keyframes headerLoading {
  from {
    opacity: 100%;
    z-index: 100;
  }
  to {
    z-index: -1;
    opacity: 0%;
    background: transparent;
  }
}

@keyframes logoBounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/***** Media Query ****/

@mixin tablette {
  @media screen and (max-width: 970px) {
    @content;
  }
}

@mixin prestaWidth {
  @media screen and (max-width: 1350px) {
    @content;
  }
}
