/*** KeyFrames ***/
@keyframes logoBounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  width: auto;
  height: 100vh;
  background: url("/img/headerBkgd.jpg") center/cover;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  background: rgba(128, 128, 128, 0.445);
}
nav .navbar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 85%;
}
nav .navbar-menu #logo-navbar img {
  width: 75px;
  height: 75px;
  filter: drop-shadow(2px 2px 10px whitesmoke);
}
nav .navbar-menu #logo-navbar img:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
nav .navbar-menu li {
  font-size: 1.5rem;
  font-family: sans-serif;
  margin: 0 40px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
nav .navbar-menu li:hover {
  color: whitesmoke;
}
nav .navbar-sociaux {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 15%;
  height: 100%;
}
nav .navbar-sociaux li img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
nav .navbar-sociaux li img:hover {
  animation: logoBounce 0.5s forwards;
  transition: 0.8s ease-out;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.title h1 {
  color: whitesmoke;
  font-size: 4rem;
  font-family: sans-serif;
}

.mission-section {
  height: 500px;
  background: url("/img/bkgd-mission.jpg") center/cover;
}

.mission-section-container {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 100%;
}
.mission-section-container .container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  margin: 0 25px;
}
.mission-section-container .container-text h2 {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 1px;
  padding: 20px 0;
}
.mission-section-container .container-text p {
  text-align: center;
  max-width: 50%;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.mission-section-container .container-picture {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
}
.mission-section-container .container-picture:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background: red;
  top: 0;
}
.mission-section-container .container-picture .mission-picture {
  width: 100%;
  height: 40%;
  border-radius: 25px;
  background: url("/img/mission-pic.jpg") center/cover;
  z-index: 2;
}
.mission-section-container .container-textVer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
  height: 100%;
  writing-mode: vertical-rl;
}
.mission-section-container .container-textVer p {
  transform: rotate(180deg);
  letter-spacing: 2px;
  font-size: 1rem;
  font-family: sans-serif;
}

.separateur-citations {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  background: green;
}
.separateur-citations span {
  width: 70%;
  height: 150px;
  background: white;
  text-align: center;
}

.prestations-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
}/*# sourceMappingURL=style.css.map */