/**** Font ****/
@font-face {
  font-family: "";
  src: "";
}
@font-face {
  font-family: "";
  src: "";
}
/**** Variable Colors ****/
/*** KeyFrames ***/
@keyframes logoBounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  width: auto;
  height: 100vh;
  background: url("/img/headerBkgd.jpg") center/cover;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  background: rgba(128, 128, 128, 0.445);
}
nav .navbar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 85%;
}
nav .navbar-menu #logo-navbar img {
  width: 75px;
  height: 75px;
  filter: drop-shadow(2px 2px 10px whitesmoke);
}
nav .navbar-menu #logo-navbar img:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
nav .navbar-menu li {
  font-size: 1.5rem;
  font-family: sans-serif;
  margin: 0 40px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
nav .navbar-menu li:hover {
  color: whitesmoke;
}
nav .navbar-sociaux {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 15%;
  height: 100%;
}
nav .navbar-sociaux li img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
nav .navbar-sociaux li img:hover {
  animation: logoBounce 0.5s forwards;
  transition: 0.8s ease-out;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.title h1 {
  color: whitesmoke;
  font-size: 4rem;
  font-family: sans-serif;
}

.mission-section {
  height: 500px;
  background: url("/img/bkgd-mission.jpg") center/cover;
}

.mission-section-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 100%;
}
.mission-section-container::before {
  content: "";
  position: absolute;
  width: 25%;
  height: 75%;
  border-radius: 20px;
  filter: drop-shadow(1px 1px 10px black);
  background: url("/img/mission-pic.jpg") center/cover;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  z-index: 3;
}
.mission-section-container .container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 57%;
  height: 100%;
  margin: 0 40px;
  padding-left: 40px;
}
.mission-section-container .container-text h2 {
  text-align: left;
  font-size: 2rem;
  letter-spacing: 1px;
  padding: 20px 0;
}
.mission-section-container .container-text p {
  text-align: left;
  max-width: 50%;
  font-size: 1.2rem;
  font-weight: 550;
  letter-spacing: 1px;
  line-height: 30px;
}
.mission-section-container .container-picture {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 57%;
  height: 100%;
  background: url("/img/bkgd-mission-right.jpg") center/cover;
}
.mission-section-container .container-picture p {
  transform: rotate(180deg);
  letter-spacing: 2px;
  font-size: 1rem;
  font-family: sans-serif;
  margin: 0 10px;
  writing-mode: vertical-rl;
  color: white;
}
.mission-section-container .container-textVer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 6%;
  height: 100%;
}

.separateur {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  background: green;
}
.separateur .carrousel,
.separateur .carrousel-avis {
  height: 80%;
  width: 70%;
  background: rgba(255, 255, 255, 0.589);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider div,
.slider-avis div {
  max-width: 100%;
  display: none;
}

div.active,
div.avis-active {
  display: block;
  animation: fade 0.8s ease;
}

.prestations-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 700px;
}
.prestations-section .prestations-title {
  position: relative;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.prestations-section .prestations-title::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 1px;
  background: grey;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px;
}
.card-container .card-container-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 96%;
  height: 100%;
}

.card__all {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  max-height: 800px;
}
.card__all .card-massage-visible,
.card__all .card-hollitique-visible,
.card__all .card-cadeau-visible {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 350px;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  background: url("/img/mission-pic.jpg") center/cover;
  filter: drop-shadow(2px 2px 20px black);
  transition: 1.5s ease-in-out;
  transition-delay: 1s;
}
.card__all .card-massage-visible .card-massage-face,
.card__all .card-massage-visible .card-hollitique-face,
.card__all .card-massage-visible .card-cadeau-face,
.card__all .card-hollitique-visible .card-massage-face,
.card__all .card-hollitique-visible .card-hollitique-face,
.card__all .card-hollitique-visible .card-cadeau-face,
.card__all .card-cadeau-visible .card-massage-face,
.card__all .card-cadeau-visible .card-hollitique-face,
.card__all .card-cadeau-visible .card-cadeau-face {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.card__all .card-massage-visible .card-massage-face h3,
.card__all .card-massage-visible .card-hollitique-face h3,
.card__all .card-massage-visible .card-cadeau-face h3,
.card__all .card-hollitique-visible .card-massage-face h3,
.card__all .card-hollitique-visible .card-hollitique-face h3,
.card__all .card-hollitique-visible .card-cadeau-face h3,
.card__all .card-cadeau-visible .card-massage-face h3,
.card__all .card-cadeau-visible .card-hollitique-face h3,
.card__all .card-cadeau-visible .card-cadeau-face h3 {
  width: 100%;
  height: 20%;
  margin: 70% auto auto auto;
  font-size: 2rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
}
.card__all .card-massage-hidden,
.card__all .card-hollitique-hidden,
.card__all .card-cadeau-hidden {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  max-width: 400px;
  height: 400px;
  background: grey;
  border-radius: 100%;
  opacity: 0;
  transition: 1.5s ease-in-out;
}
.card__all .card-massage-hidden .card-massage-revel,
.card__all .card-massage-hidden .card-hollitique-revel,
.card__all .card-massage-hidden .card-cadeau-revel,
.card__all .card-hollitique-hidden .card-massage-revel,
.card__all .card-hollitique-hidden .card-hollitique-revel,
.card__all .card-hollitique-hidden .card-cadeau-revel,
.card__all .card-cadeau-hidden .card-massage-revel,
.card__all .card-cadeau-hidden .card-hollitique-revel,
.card__all .card-cadeau-hidden .card-cadeau-revel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__all .card-massage-hidden .card-massage-revel p,
.card__all .card-massage-hidden .card-hollitique-revel p,
.card__all .card-massage-hidden .card-cadeau-revel p,
.card__all .card-hollitique-hidden .card-massage-revel p,
.card__all .card-hollitique-hidden .card-hollitique-revel p,
.card__all .card-hollitique-hidden .card-cadeau-revel p,
.card__all .card-cadeau-hidden .card-massage-revel p,
.card__all .card-cadeau-hidden .card-hollitique-revel p,
.card__all .card-cadeau-hidden .card-cadeau-revel p {
  height: 80%;
  opacity: 0;
  padding: 25px;
}

.container-textVer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 4%;
  height: 100%;
}
.container-textVer p {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  transform: rotate(180deg);
  letter-spacing: 2px;
  font-size: 1rem;
  font-family: sans-serif;
  margin: 0 10px;
  writing-mode: vertical-rl;
  color: black;
}

/**** JS Evenet Style ****/
.card-massage-visible-anim,
.card-hollitique-visible-anim,
.card-cadeau-visible-anim {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  background: url("/img/mission-pic.jpg") center/cover;
  transition: 1.5s ease-in-out;
  z-index: 1;
  opacity: 0;
}
.card-massage-visible-anim h3,
.card-hollitique-visible-anim h3,
.card-cadeau-visible-anim h3 {
  width: 100%;
  height: 20%;
  margin: 70% auto auto auto;
  font-size: 2rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
  opacity: 0;
}

.card-massage-hidden-anim,
.card-hollitique-hidden-anim,
.card-cadeau-hidden-anim {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 300px;
  border-radius: 40px;
  background: grey;
  opacity: 1;
  transition: 1.5s ease;
}
.card-massage-hidden-anim .card-massage-revel,
.card-massage-hidden-anim .card-hollitique-revel,
.card-massage-hidden-anim .card-cadeau-revel,
.card-hollitique-hidden-anim .card-massage-revel,
.card-hollitique-hidden-anim .card-hollitique-revel,
.card-hollitique-hidden-anim .card-cadeau-revel,
.card-cadeau-hidden-anim .card-massage-revel,
.card-cadeau-hidden-anim .card-hollitique-revel,
.card-cadeau-hidden-anim .card-cadeau-revel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-massage-hidden-anim .card-massage-revel p,
.card-massage-hidden-anim .card-hollitique-revel p,
.card-massage-hidden-anim .card-cadeau-revel p,
.card-hollitique-hidden-anim .card-massage-revel p,
.card-hollitique-hidden-anim .card-hollitique-revel p,
.card-hollitique-hidden-anim .card-cadeau-revel p,
.card-cadeau-hidden-anim .card-massage-revel p,
.card-cadeau-hidden-anim .card-hollitique-revel p,
.card-cadeau-hidden-anim .card-cadeau-revel p {
  height: 80%;
  width: 80%;
  background: white;
  transition: 2s ease;
  transition-delay: 1.7s;
  opacity: 1;
  text-align: center;
  padding: 25px;
}

.evenement-section {
  width: 100%;
  height: 600px;
  margin-bottom: 150px;
}

.evenement-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
.evenement-container .container-title {
  text-align: center;
  width: 100%;
  margin: 50px auto;
}
.evenement-container .container-list {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.evenement-container .container-list .list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 350px;
  height: 350px;
  border-radius: 25px;
  background-color: red;
}
.evenement-container .container-list .list .list-1,
.evenement-container .container-list .list .list-2,
.evenement-container .container-list .list .list-3 {
  width: 300px;
  height: 300px;
  background: rgba(255, 255, 255, 0.705);
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .footer-sociaux {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
footer img {
  width: 15%;
  height: 15%;
}/*# sourceMappingURL=style.css.map */