/**** Font ****/
@font-face {
  font-family: "tanPearl";
  src: url("../font/Tan Pearl/TAN-PEARL.ttf");
  font-display: swap;
}
@font-face {
  font-family: "";
  src: "";
}
/**** Variable Colors ****/
/*** KeyFrames ***/
@keyframes headerLoading {
  from {
    opacity: 100%;
    z-index: 100;
  }
  to {
    z-index: -1;
    opacity: 0%;
    background: transparent;
  }
}
@keyframes logoBounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/***** Media Query ****/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  cursor: default;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("/img/headerbkgd.jpg") center/cover;
}
header:before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  background: white;
  top: 0;
  animation: headerLoading 6s ease-in-out forwards;
}
header .logo-menu {
  display: none;
}
@media screen and (max-width: 970px) {
  header .logo-menu {
    display: block;
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 3;
  }
  header .logo-menu img {
    width: 50px;
    height: 50px;
  }
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  width: 100%;
  background: rgba(128, 128, 128, 0.445);
  transition: 0.8s ease;
}
@media screen and (max-width: 970px) {
  nav {
    transition: none;
    opacity: 0;
  }
}
nav .navbar-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 85%;
  transition: 0.8s ease;
}
@media screen and (max-width: 970px) {
  nav .navbar-menu {
    width: 100%;
    transition: none;
  }
}
nav .navbar-menu #logo-navbar img {
  width: 75px;
  height: 75px;
  transition: 0.8s ease;
  filter: drop-shadow(2px 2px 10px whitesmoke);
}
nav .navbar-menu #logo-navbar img:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}
nav .navbar-menu li {
  width: 100%;
  font-size: 1.2rem;
  font-family: sans-serif;
  margin: 0 40px 0 40px;
  transition: 0.8s ease;
  cursor: pointer;
}
@media screen and (max-width: 970px) {
  nav .navbar-menu li {
    margin: 0 15px 0 15px;
  }
}
nav .navbar-menu li a {
  text-decoration: none;
  color: black;
}
nav .navbar-menu li a:hover {
  color: #b48e7f;
  filter: drop-shadow(2px 2px 5px white);
  transition: 0.5s ease;
}
nav .navbar-sociaux {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 15%;
  height: 100%;
  transition: 0.8s ease;
}
@media screen and (max-width: 970px) {
  nav .navbar-sociaux {
    transition: none;
  }
}
nav .navbar-sociaux li img {
  width: 30px;
  height: 30px;
  margin-right: 40px;
  transition: 0.8s ease;
  cursor: pointer;
}
nav .navbar-sociaux li img:hover {
  animation: logoBounce 0.5s forwards;
  transition: 0.8s e;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.title .title-img {
  width: 40%;
  height: 40%;
  background: url(/img/LOGO\ 2023-NOIR.png) center/cover;
}
@media screen and (max-width: 970px) {
  .title .title-img {
    height: 40%;
    width: 80%;
  }
}

/**** JS Navbar ****/
.navbar-anim {
  height: 45px;
  background: #b48e7f;
  transition: 0.8s ease;
  z-index: 3;
}
.navbar-anim .navbar-menu {
  transition: 0.8s ease;
}
.navbar-anim .navbar-menu #logo-navbar img {
  width: 40px;
  height: 40px;
  transition: 0.8s ease;
}
.navbar-anim .navbar-menu li {
  font-size: 1.2rem;
}
.navbar-anim .navbar-menu li a {
  color: black;
  text-decoration: none;
}
.navbar-anim .navbar-menu li a:hover {
  color: black;
}
.navbar-anim .navbar-sociaux li img {
  width: 20px;
  height: 20px;
}

/**** JS NavBar Mobile ****/
.navbar-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transform: translateX(-100%);
  opacity: 0.2;
  z-index: 2;
  transition: 0.8s ease-in-out;
}
.navbar-mobile .navbar-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 80%;
  width: 100%;
  padding-top: 50px;
  background: #b48e7f;
}
.navbar-mobile .navbar-menu #logo-navbar img {
  width: 100px;
  height: 100px;
}
.navbar-mobile .navbar-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.navbar-mobile .navbar-sociaux {
  display: flex;
  height: 20%;
  width: 100%;
  background: #b48e7f;
}

.navbar-mobile-toggle {
  transform: translateX(0);
  opacity: 1;
  transition: 0.8s ease-in-out;
}

.mission-section {
  height: 800px;
  width: 100%;
  background: url("/img/bkgd-mission.png") center/cover no-repeat;
  background-position: right;
}
@media screen and (max-width: 970px) {
  .mission-section {
    height: 800px;
  }
}

.mission-section-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 970px) {
  .mission-section-container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
  }
}
.mission-section-container .container-text {
  width: 50%;
  height: 80%;
  background: #bc7d6f;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-right: 150px;
}
@media screen and (max-width: 970px) {
  .mission-section-container .container-text {
    padding: 0;
    width: 60%;
  }
}
.mission-section-container .container-text .container-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  opacity: 0;
  transform: translateX(-100px);
  transition: 0.8s ease;
}
.mission-section-container .container-text .container-text-content h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 80px 0;
  font-size: 1.8rem;
}
@media screen and (max-width: 970px) {
  .mission-section-container .container-text .container-text-content h2 {
    font-size: 1.2rem;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
  }
}
.mission-section-container .container-text .container-text-content p {
  width: 350px;
  height: 500px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 45px;
  color: white;
}
@media screen and (max-width: 970px) {
  .mission-section-container .container-text .container-text-content p {
    width: 70%;
    padding-top: 20px;
    font-size: 0.8rem;
    line-height: 25px;
  }
}
.mission-section-container .container-text .container-text-content a {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: auto;
  color: #e4d2c8;
  font-family: tanPearl;
}
@media screen and (max-width: 970px) {
  .mission-section-container .container-text .container-text-content a {
    margin: 0;
    padding: 40px 0;
  }
}
.mission-section-container .container-pic {
  position: absolute;
  width: 350px;
  height: 500px;
  top: 50%;
  right: 30%;
  transform: translate(60%, -45%);
  background: url(/img/profilpic.jpg) center/cover;
  opacity: 0;
  transition: 1.2s ease-in-out;
}
@media screen and (max-width: 970px) {
  .mission-section-container .container-pic {
    width: 200px;
    height: 275px;
    transform: translate(60%, 60%);
  }
}

.vertical-text {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 3%;
  transform: rotate(180deg);
  letter-spacing: 2px;
  font-size: 1rem;
  font-family: tanPearl;
  font-display: swap;
  margin: 0 10px;
  writing-mode: vertical-rl;
  color: black;
}

/**** JS anim ****/
.separateur {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  background: #ab7c72;
}
@media screen and (max-width: 970px) {
  .separateur {
    height: 200px;
  }
}
.separateur:before {
  content: "";
  position: absolute;
  top: -30px;
  background: #ab7c72;
  filter: blur(5px);
  width: 103%;
  height: 40px;
}
.separateur .carrousel,
.separateur .carrousel-avis {
  height: 65%;
  width: 70%;
  background: #e4d2c8;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 1.3rem;
}
@media screen and (max-width: 970px) {
  .separateur .carrousel,
  .separateur .carrousel-avis {
    height: 80%;
    width: 90%;
  }
}
.separateur .carrousel strong,
.separateur .carrousel-avis strong {
  color: #ab7c72;
}
.separateur .carrousel span em,
.separateur .carrousel-avis span em {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px 0;
}

.slider div,
.slider-avis div {
  max-width: 100%;
  display: none;
}

div.active,
div.avis-active {
  display: block;
  animation: fade 0.8s ease;
}

.prestations-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 800px;
  overflow-y: hidden;
  background: url(../../img/bkgdPrestations.png) center/cover;
}
@media screen and (max-width: 1350px) {
  .prestations-section {
    height: auto;
  }
}
.prestations-section:after {
  content: "";
  position: absolute;
  top: -20px;
  background: #ab7c72;
  filter: blur(5px);
  width: 101%;
  height: 40px;
}
.prestations-section .prestations-title {
  position: relative;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  font-size: 1.8rem;
  color: #dfc8c3;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media screen and (max-width: 970px) {
  .prestations-section .prestations-title {
    font-size: 1.3rem;
    text-align: center;
  }
}
.prestations-section .prestations-title::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 1px;
  background: #e4d2c8;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 1350px) {
  .prestations-section .prestations-title::after {
    bottom: -40px;
  }
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: auto;
  padding: 30px 30px 80px 30px;
  margin-bottom: 100px;
}
.card-container .card-container-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 96%;
  height: auto;
  opacity: 0;
  transform: translateY(100px);
  transition: 1.2s ease;
}
@media screen and (max-width: 1350px) {
  .card-container .card-container-left {
    flex-direction: column;
    justify-content: space-around;
    padding-top: 50px;
  }
}

.card-all {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: auto;
}
@media screen and (max-width: 1350px) {
  .card-all {
    margin: 30px 0;
  }
}
.card-all .card-massage-visible {
  background: url(/img/missionMassage.jpg) center/cover;
}
.card-all .card-hollitique-visible {
  background: url(/img/holitique.png) center/cover;
}
.card-all .card-cadeau-visible {
  background: url(/img/cadeau.jpg) center/cover;
}
.card-all .card-massage-visible,
.card-all .card-hollitique-visible,
.card-all .card-cadeau-visible {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  min-width: 200px;
  min-height: 200px;
  border-radius: 100%;
  filter: drop-shadow(2px 2px 20px black);
  transition: 1.5s ease-in-out;
  transition-delay: 1s;
}
@media screen and (max-width: 970px) {
  .card-all .card-massage-visible,
  .card-all .card-hollitique-visible,
  .card-all .card-cadeau-visible {
    width: 200px;
    height: 200px;
  }
}
.card-all .card-massage-visible .card-massage-face,
.card-all .card-massage-visible .card-hollitique-face,
.card-all .card-massage-visible .card-cadeau-face,
.card-all .card-hollitique-visible .card-massage-face,
.card-all .card-hollitique-visible .card-hollitique-face,
.card-all .card-hollitique-visible .card-cadeau-face,
.card-all .card-cadeau-visible .card-massage-face,
.card-all .card-cadeau-visible .card-hollitique-face,
.card-all .card-cadeau-visible .card-cadeau-face {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.card-all .card-massage-visible .card-massage-face h3,
.card-all .card-massage-visible .card-hollitique-face h3,
.card-all .card-massage-visible .card-cadeau-face h3,
.card-all .card-hollitique-visible .card-massage-face h3,
.card-all .card-hollitique-visible .card-hollitique-face h3,
.card-all .card-hollitique-visible .card-cadeau-face h3,
.card-all .card-cadeau-visible .card-massage-face h3,
.card-all .card-cadeau-visible .card-hollitique-face h3,
.card-all .card-cadeau-visible .card-cadeau-face h3 {
  width: 100%;
  height: 20%;
  margin: 50% auto;
  font-size: 2rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
}
@media screen and (max-width: 970px) {
  .card-all .card-massage-visible .card-massage-face h3,
  .card-all .card-massage-visible .card-hollitique-face h3,
  .card-all .card-massage-visible .card-cadeau-face h3,
  .card-all .card-hollitique-visible .card-massage-face h3,
  .card-all .card-hollitique-visible .card-hollitique-face h3,
  .card-all .card-hollitique-visible .card-cadeau-face h3,
  .card-all .card-cadeau-visible .card-massage-face h3,
  .card-all .card-cadeau-visible .card-hollitique-face h3,
  .card-all .card-cadeau-visible .card-cadeau-face h3 {
    font-size: 1.3rem;
  }
}
.card-all .card-massage-hidden,
.card-all .card-hollitique-hidden,
.card-all .card-cadeau-hidden {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: grey;
  border-radius: 100%;
  opacity: 0;
  transition: 1.5s ease-in-out;
  cursor: default;
}
.card-all .card-massage-hidden .card-massage-revel,
.card-all .card-massage-hidden .card-hollitique-revel,
.card-all .card-massage-hidden .card-cadeau-revel,
.card-all .card-hollitique-hidden .card-massage-revel,
.card-all .card-hollitique-hidden .card-hollitique-revel,
.card-all .card-hollitique-hidden .card-cadeau-revel,
.card-all .card-cadeau-hidden .card-massage-revel,
.card-all .card-cadeau-hidden .card-hollitique-revel,
.card-all .card-cadeau-hidden .card-cadeau-revel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-all .card-massage-hidden .card-massage-revel .para,
.card-all .card-massage-hidden .card-massage-revel p,
.card-all .card-massage-hidden .card-hollitique-revel .para,
.card-all .card-massage-hidden .card-hollitique-revel p,
.card-all .card-massage-hidden .card-cadeau-revel .para,
.card-all .card-massage-hidden .card-cadeau-revel p,
.card-all .card-hollitique-hidden .card-massage-revel .para,
.card-all .card-hollitique-hidden .card-massage-revel p,
.card-all .card-hollitique-hidden .card-hollitique-revel .para,
.card-all .card-hollitique-hidden .card-hollitique-revel p,
.card-all .card-hollitique-hidden .card-cadeau-revel .para,
.card-all .card-hollitique-hidden .card-cadeau-revel p,
.card-all .card-cadeau-hidden .card-massage-revel .para,
.card-all .card-cadeau-hidden .card-massage-revel p,
.card-all .card-cadeau-hidden .card-hollitique-revel .para,
.card-all .card-cadeau-hidden .card-hollitique-revel p,
.card-all .card-cadeau-hidden .card-cadeau-revel .para,
.card-all .card-cadeau-hidden .card-cadeau-revel p {
  max-height: 10px;
  max-width: 10px;
  opacity: 0;
  background-color: white;
  padding: 15px;
  font-size: 1.1rem;
}
@media screen and (max-width: 1000px) {
  .card-all .card-massage-hidden .card-massage-revel .para,
  .card-all .card-massage-hidden .card-massage-revel p,
  .card-all .card-massage-hidden .card-hollitique-revel .para,
  .card-all .card-massage-hidden .card-hollitique-revel p,
  .card-all .card-massage-hidden .card-cadeau-revel .para,
  .card-all .card-massage-hidden .card-cadeau-revel p,
  .card-all .card-hollitique-hidden .card-massage-revel .para,
  .card-all .card-hollitique-hidden .card-massage-revel p,
  .card-all .card-hollitique-hidden .card-hollitique-revel .para,
  .card-all .card-hollitique-hidden .card-hollitique-revel p,
  .card-all .card-hollitique-hidden .card-cadeau-revel .para,
  .card-all .card-hollitique-hidden .card-cadeau-revel p,
  .card-all .card-cadeau-hidden .card-massage-revel .para,
  .card-all .card-cadeau-hidden .card-massage-revel p,
  .card-all .card-cadeau-hidden .card-hollitique-revel .para,
  .card-all .card-cadeau-hidden .card-hollitique-revel p,
  .card-all .card-cadeau-hidden .card-cadeau-revel .para,
  .card-all .card-cadeau-hidden .card-cadeau-revel p {
    font-size: 0.8rem;
  }
}

.container-textVer {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 3%;
  transform: rotate(180deg);
  letter-spacing: 2px;
  font-size: 1rem;
  font-family: tanPearl;
  font-display: swap;
  margin: 0 10px;
  writing-mode: vertical-rl;
  color: black;
}

/**** JS Evenet Style ****/
.card-massage-visible-anim,
.card-hollitique-visible-anim,
.card-cadeau-visible-anim {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transition: 1.1s ease-in-out;
  z-index: 1;
  opacity: 0;
}
@media screen and (max-width: 970px) {
  .card-massage-visible-anim,
  .card-hollitique-visible-anim,
  .card-cadeau-visible-anim {
    width: 200px;
    height: 200px;
  }
}
.card-massage-visible-anim h3,
.card-hollitique-visible-anim h3,
.card-cadeau-visible-anim h3 {
  width: 100%;
  height: 20%;
  margin: 70% auto auto auto;
  font-size: 2rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
  opacity: 0;
}

.card-massage-visible-anim {
  background: url(/img/missionMassage.jpg) center/cover;
}

.card-hollitique-visible-anim {
  background: url(/img/holitique.png) center/cover;
}

.card-cadeau-visible-anim {
  background: url(/img/cadeau.jpg) center/cover;
}

.card-massage-hidden-anim,
.card-hollitique-hidden-anim,
.card-cadeau-hidden-anim {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
  border-radius: 40px;
  background: rgba(180, 142, 127, 0.6705882353);
  opacity: 1;
  transition: 1.2s ease;
}
@media screen and (max-width: 970px) {
  .card-massage-hidden-anim,
  .card-hollitique-hidden-anim,
  .card-cadeau-hidden-anim {
    width: 350px;
    height: 300px;
  }
}
.card-massage-hidden-anim .card-massage-revel,
.card-massage-hidden-anim .card-hollitique-revel,
.card-massage-hidden-anim .card-cadeau-revel,
.card-hollitique-hidden-anim .card-massage-revel,
.card-hollitique-hidden-anim .card-hollitique-revel,
.card-hollitique-hidden-anim .card-cadeau-revel,
.card-cadeau-hidden-anim .card-massage-revel,
.card-cadeau-hidden-anim .card-hollitique-revel,
.card-cadeau-hidden-anim .card-cadeau-revel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}
.card-massage-hidden-anim .card-massage-revel .para,
.card-massage-hidden-anim .card-massage-revel p,
.card-massage-hidden-anim .card-hollitique-revel .para,
.card-massage-hidden-anim .card-hollitique-revel p,
.card-massage-hidden-anim .card-cadeau-revel .para,
.card-massage-hidden-anim .card-cadeau-revel p,
.card-hollitique-hidden-anim .card-massage-revel .para,
.card-hollitique-hidden-anim .card-massage-revel p,
.card-hollitique-hidden-anim .card-hollitique-revel .para,
.card-hollitique-hidden-anim .card-hollitique-revel p,
.card-hollitique-hidden-anim .card-cadeau-revel .para,
.card-hollitique-hidden-anim .card-cadeau-revel p,
.card-cadeau-hidden-anim .card-massage-revel .para,
.card-cadeau-hidden-anim .card-massage-revel p,
.card-cadeau-hidden-anim .card-hollitique-revel .para,
.card-cadeau-hidden-anim .card-hollitique-revel p,
.card-cadeau-hidden-anim .card-cadeau-revel .para,
.card-cadeau-hidden-anim .card-cadeau-revel p {
  height: 90%;
  width: 80%;
  opacity: 1;
  background-color: white;
  padding: 15px;
  font-size: 1.1rem;
  transition: 1.2s ease-in;
  transition-delay: 1s;
  cursor: default;
  z-index: 999999;
}
@media screen and (max-width: 970px) {
  .card-massage-hidden-anim .card-massage-revel .para,
  .card-massage-hidden-anim .card-massage-revel p,
  .card-massage-hidden-anim .card-hollitique-revel .para,
  .card-massage-hidden-anim .card-hollitique-revel p,
  .card-massage-hidden-anim .card-cadeau-revel .para,
  .card-massage-hidden-anim .card-cadeau-revel p,
  .card-hollitique-hidden-anim .card-massage-revel .para,
  .card-hollitique-hidden-anim .card-massage-revel p,
  .card-hollitique-hidden-anim .card-hollitique-revel .para,
  .card-hollitique-hidden-anim .card-hollitique-revel p,
  .card-hollitique-hidden-anim .card-cadeau-revel .para,
  .card-hollitique-hidden-anim .card-cadeau-revel p,
  .card-cadeau-hidden-anim .card-massage-revel .para,
  .card-cadeau-hidden-anim .card-massage-revel p,
  .card-cadeau-hidden-anim .card-hollitique-revel .para,
  .card-cadeau-hidden-anim .card-hollitique-revel p,
  .card-cadeau-hidden-anim .card-cadeau-revel .para,
  .card-cadeau-hidden-anim .card-cadeau-revel p {
    font-size: 0.8rem;
    height: 250px;
    width: 300px;
  }
}
.card-massage-hidden-anim .card-massage-revel .para a,
.card-massage-hidden-anim .card-massage-revel p a,
.card-massage-hidden-anim .card-hollitique-revel .para a,
.card-massage-hidden-anim .card-hollitique-revel p a,
.card-massage-hidden-anim .card-cadeau-revel .para a,
.card-massage-hidden-anim .card-cadeau-revel p a,
.card-hollitique-hidden-anim .card-massage-revel .para a,
.card-hollitique-hidden-anim .card-massage-revel p a,
.card-hollitique-hidden-anim .card-hollitique-revel .para a,
.card-hollitique-hidden-anim .card-hollitique-revel p a,
.card-hollitique-hidden-anim .card-cadeau-revel .para a,
.card-hollitique-hidden-anim .card-cadeau-revel p a,
.card-cadeau-hidden-anim .card-massage-revel .para a,
.card-cadeau-hidden-anim .card-massage-revel p a,
.card-cadeau-hidden-anim .card-hollitique-revel .para a,
.card-cadeau-hidden-anim .card-hollitique-revel p a,
.card-cadeau-hidden-anim .card-cadeau-revel .para a,
.card-cadeau-hidden-anim .card-cadeau-revel p a {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  color: #b48e7f;
  font-family: tanPearl;
}
@media screen and (max-width: 970px) {
  .card-massage-hidden-anim .card-massage-revel .para a,
  .card-massage-hidden-anim .card-massage-revel p a,
  .card-massage-hidden-anim .card-hollitique-revel .para a,
  .card-massage-hidden-anim .card-hollitique-revel p a,
  .card-massage-hidden-anim .card-cadeau-revel .para a,
  .card-massage-hidden-anim .card-cadeau-revel p a,
  .card-hollitique-hidden-anim .card-massage-revel .para a,
  .card-hollitique-hidden-anim .card-massage-revel p a,
  .card-hollitique-hidden-anim .card-hollitique-revel .para a,
  .card-hollitique-hidden-anim .card-hollitique-revel p a,
  .card-hollitique-hidden-anim .card-cadeau-revel .para a,
  .card-hollitique-hidden-anim .card-cadeau-revel p a,
  .card-cadeau-hidden-anim .card-massage-revel .para a,
  .card-cadeau-hidden-anim .card-massage-revel p a,
  .card-cadeau-hidden-anim .card-hollitique-revel .para a,
  .card-cadeau-hidden-anim .card-hollitique-revel p a,
  .card-cadeau-hidden-anim .card-cadeau-revel .para a,
  .card-cadeau-hidden-anim .card-cadeau-revel p a {
    padding-top: 10px;
  }
}

.evenement-section {
  position: relative;
  width: 100%;
  height: 600px;
  margin-bottom: 150px;
}
@media screen and (max-width: 970px) {
  .evenement-section {
    height: auto;
  }
}
.evenement-section:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -10px;
  background: #ab7c72;
  filter: blur(5px);
  width: 105%;
  height: 40px;
}

.evenement-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
.evenement-container .container-title {
  text-align: center;
  width: 100%;
  margin: 50px auto;
}
.evenement-container .container-list {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
@media screen and (max-width: 970px) {
  .evenement-container .container-list {
    height: auto;
    flex-direction: column;
    justify-content: space-around;
  }
}
.evenement-container .container-list .list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 25px;
  background-color: red;
}
@media screen and (max-width: 970px) {
  .evenement-container .container-list .list {
    width: 250px;
    height: 250px;
    margin: 30px 0;
  }
}
.evenement-container .container-list .list .list-1,
.evenement-container .container-list .list .list-2,
.evenement-container .container-list .list .list-3 {
  width: 250px;
  height: 250px;
  background: rgba(255, 255, 255, 0.705);
}
@media screen and (max-width: 970px) {
  .evenement-container .container-list .list .list-1,
  .evenement-container .container-list .list .list-2,
  .evenement-container .container-list .list .list-3 {
    width: 200px;
    height: 200px;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .footer-sociaux {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
footer img {
  width: 15%;
  height: 15%;
}/*# sourceMappingURL=style.css.map */